<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackEnd2.Properties.Settings.bdForoConnectionString"
            connectionString="Data Source=THEARKONE\SQLEXPRESS;Initial Catalog=bdForo;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>